.main-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 50vh;
  justify-content: space-around;
  margin: 7rem 4rem;
  &_text-box {
    font-size: 4rem;
    font-weight: 700;
    width: 50%;
  }
  a {
    text-decoration: none;
    color: black;
  }
  &_button {
    padding: 1rem 2rem;
    background-color: #fff;
    font-size: 1.2rem;
    font-family: inherit;
  }
}
